In [1]:
import numpy as np
import pandas as pd

In [5]:
pokemon = pd.read_csv('../../data/Pokemon.csv', index_col='#')
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 75.8+ KB

In [7]:
pokemon.describe()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [10]:
pokemon.describe(include=[int, float])

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [12]:
pokemon.describe(exclude=[int, float])

             Name Type 1  Type 2 Legendary
count         800    800     414       800
unique        800     18      18         2
top     Bulbasaur  Water  Flying     False
freq            1    112      97       735

## apply

In [16]:
pokemon['name_length'] = pokemon['Name'].apply(len)
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_length
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,9
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,7
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,8
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,21
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,10

In [17]:
# own function
def strength(value : int) -> str:
    if value > 150:
        return 'Strong'
    elif value > 100:
        return 'Average'
    else:
        return 'Weak'

In [18]:
pokemon['Strength'] = pokemon['Attack'].apply(strength)
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_length,Strength
#,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,9,Weak
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,7,Weak
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,8,Weak
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,21,Weak
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,10,Weak

In [19]:
pokemon['Strength'].value_counts()

Strength
Weak       630
Average    152
Strong      18
Name: count, dtype: int64

## map

In [20]:
pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

In [21]:
pokemon['Legendary'].map({False:0}) # here we are not giving any value for True so it be replace by Nan

#
1      0.0
2      0.0
3      0.0
3      0.0
4      0.0
      ...
719    NaN
719    NaN
720    NaN
720    NaN
721    NaN
Name: Legendary, Length: 800, dtype: float64

In [22]:
pokemon['Legendary'].map({False:0, True:1})

#
1      0
2      0
3      0
3      0
4      0
      ..
719    1
719    1
720    1
720    1
721    1
Name: Legendary, Length: 800, dtype: int64

## astype
To change the datatype

In [23]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         800 non-null    object
 1   Type 1       800 non-null    object
 2   Type 2       414 non-null    object
 3   Total        800 non-null    int64
 4   HP           800 non-null    int64
 5   Attack       800 non-null    int64
 6   Defense      800 non-null    int64
 7   Sp. Atk      800 non-null    int64
 8   Sp. Def      800 non-null    int64
 9   Speed        800 non-null    int64
 10  Generation   800 non-null    int64
 11  Legendary    800 non-null    bool
 12  name_length  800 non-null    int64
 13  Strength     800 non-null    object
dtypes: bool(1), int64(9), object(4)
memory usage: 88.3+ KB

In [24]:
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_length,Strength
#,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,9,Weak
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,7,Weak
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,8,Weak
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,21,Weak
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,10,Weak

In [27]:
pokemon['Legendary'].astype(int)

#
1      0
2      0
3      0
3      0
4      0
      ..
719    1
719    1
720    1
720    1
721    1
Name: Legendary, Length: 800, dtype: int32

## replace

In [28]:
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_length,Strength
#,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,9,Weak
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,7,Weak
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,8,Weak
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,21,Weak
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,10,Weak

In [31]:
pokemon.replace({'Bulbasaur':'pokemon', 45:'first45'})

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_length,Strength
#,,,,,,,,,,,,,,
1,pokemon,Grass,Poison,318,first45,49,49,65,65,first45,1,False,9,Weak
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,7,Weak
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,8,Weak
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,21,Weak
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,10,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,7,Weak
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,19,Strong
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,19,Average
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,18,Strong
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,9,Average

In [34]:
pokemon['Generation'].replace({1:'one'})

#
1      one
2      one
3      one
3      one
4      one
      ...
719      6
719      6
720      6
720      6
721      6
Name: Generation, Length: 800, dtype: object